*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background-color: #FAFCFF;
	/* background-color: #ecedf9; */
}

h1{
	margin: 0;
	text-align: center;
}

h2{
	text-align: center;
}

h1, h2, h3, p, li, div{
	font-family: 'Montserrat', sans-serif;
}

#bigBlock{
	display: flex;
	margin: 0;
	color: #15145c;
	min-height: calc(100vh - 100px);
}

#title{
	width: 100%;
	color: #15145c;
	height: 100px;
	border-bottom: solid 2px #c2a04b;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 3px 5px #c2a04b;
}

#play{
	width: 0%;
	padding: 0px;
}

#game{
	width: 70%;
	margin: 0;
	border-left: solid 2px #c2a04b;
	border-right: solid 2px #c2a04b;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	background-color: #15145cf0;
	order: 2;
}

#center{
	width: 80%;
	margin-top: 30px;
}

#question{
	min-height: 250px;
	background-image: radial-gradient(#32328d, #0a0841);
	color: #F6F8FF;
	border: solid 2px #c2a04b;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	padding: 20px;
}

#options{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: stretch;
	margin: 10px 0px;
}

.answer{
	width: 47%;
	background-image: radial-gradient(#32328d, #0a0841);
	color: #c2a04b;
	display: block;
	/* height: 60px; */
	border: solid 2px #c2a04b;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
	padding: 25px 10px;
	/* border-radius: 50%; */
}

.answer p{
	color: #F6F8FF;
	margin: 0;
	padding-left: 6px;
}

.answer:hover > p{
	background-image: none;
	background-color: #c2a04b;
	color: #000;
}

.answer:hover{
	background-image: none;
	background-color: #c2a04b;
	color: #000;
}

.finalAnswer{
	width: 100%;
	background-image: radial-gradient(#32328d, #0a0841);
	color: #c2a04b;
	display: block;
	/* height: 60px; */
	border: solid 2px #c2a04b;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
	padding: 25px 10px;
	/* border-radius: 50%; */
}

.finalAnswer p{
	color: #F6F8FF;
	margin: 0;
	padding-left: 6px;
}

.finalAnswer:hover > p{
	background-image: none;
	background-color: #c2a04b;
	color: #000;
}

.finalAnswer:hover{
	background-image: none;
	background-color: #c2a04b;
	color: #000;
}

.correct{
	background-image: none;
	background-color: #59BA72;
}

.wrong{
	background-image: none;
	background-color: #B81714;
}

#leaderboard{
	width: 30%;
	margin: 0;
	padding: 5px 10px;
	order: 1;
}

.hi-scores{
	display: flex;
	justify-content: center;
}

.people, .scores{
	width: 50%;
}

.people p, .scores p{
	margin: 20px 0px;
	padding: 0;
	text-align: center;
}

@media (max-width: 900px){
	#bigBlock{
		flex-direction: column;
	}

	#game, #play, #leaderboard{
		width: 100%;
	}

	#game{
		order: 1;
		border-bottom: solid 2px #c2a04b;
		padding-bottom: 20px;
	}

	#play{
		order: 2;
		border-bottom: solid 2px #c2a04b;
		padding: 7px 20px;
	}

	#leaderboard{
		order: 3;
	}
}

@media (max-width: 650px){
	.answer{
		width: 100%;
	}
}